@import url("style/header.css");
@import url("style/banner.css");
@import url("style/produtos.css");

:root{
    --branco: #FFFFFF;
    --fonte-principal: "Raleway";
    --azul: #2A7AE4;
    --cinza: #464646;
}
body{
    font-family: var(--fonte-principal);
}