.produtos{
    padding: 1em;
}
.container__titulo{
    display: flex;
    justify-content: space-between;
}
.produtos-titulo{
    font-size: 22px;
    font-weight: 700;
}
.lista__produto{
    display: flex;
    flex-wrap: wrap;
}
.lista__produto-item{
    width: 40%;
    padding: 1em;
}
.lista__produto-nome{
    font-size: 14px;
    font-weight: 500;
}
.lista__produto-preco{
    font-size: 16px;
    font-weight: 700;
}
.ver-tudo__link,
.lista__produto-link{
    color: var(--azul);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}